$blue-1: #315891;
$blue-2: #24416c;
$highlight: #01BAEF;

$dark-1: #222;
$dark-2: #353637;
$dark-3: #1e1f21;
$dark-4: #353637;

$purple-1: #353637;
$purple-2: red;
$purple-3: blue;

$white-1: #FFFFFF;
$white-2: #DDDDDD;
$white-3: #CCCCCC;
$white-4: #BBBBBB;

$rare-color: #0070DD;
$epic-color: #A335EE;
